
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Hakkımızda kısmı-->
    <div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
        <div class="container">
            <div class="box">
                <h3>Hakkımızda</h3>
            </div>
        </div>
    </div>




<!--Anasayfa>Hakkımızda kısmı....-->
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="@Url.Action("","")">Anasayfa</a>
                    </li>
                  
                    <li>
                        Hakkımızda
                    </li>
                </ul>
            </div>
        </div>
    </div>




<!-- BizKimiz... İçerik kısmı-->
    <section class="who-we-are-area padd-2">
        <div class="container">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="who-we-are-img-holder">
                    <img src="~/Content/Site/images/resource/who.jpg" alt="Awesome Image" class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div>       <!--class="content" de yazılabilirdi içine-->
                    <div class="sec-title style-2">
                        <h2>Biz <span>Kimiz</span></h2>
                    </div>
                    <div class="text">
                        İşletmenizin yenilenmesine ve büyümesine yardımcı oluyoruz
                    </div>

                    <div class="founder clearfix">
                        <div class="img-holder">
                            <img src="~/Content/Site/images/resource/founder.jpg" alt="Awesome Image">
                        </div>
                        <div class="name">
                            <h3>Ali Veli</h3>
                            <p>Kurucu &amp; CEO</p>
                        </div>
                    </div>
                    <div class="text">
                        İşletmenizin yenilenmesine ve büyümesine yardımcı oluyoruz
                    </div>
                </div>
            </div>
        </div>
    </section>