
@{
    ViewBag.Title = "Yazar1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="news-section padd-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Index", "Blog", FormMethod.Post))
                {
                    <form method="post">
                        <fieldset>
                            <div>
                                <textarea class="comment" id="CompanyName" name="CompanyName"></textarea>
                            </div>
                            <div>
                                <label>&nbsp;</label>
                                <input type="submit" value="Kayıt" class="submit" />
                            </div>
                        </fieldset>
                    </form>
                }
            </div>
        </section>
    </div>
</div>


@*@{
    if (IsPost)
    {
        string companyname = Request.Form["companyname"];

        <text>
            You entered:
            <br />
            Company Name: @companyname
        </text>
    }
}*@
