<!--About Alanı-->
<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">  <!--wow fadeInLeft, içeriğin soldan sağa kayarak gelmesini sağlar-->
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2> <span>Narail</span> Hakkında</h2>
                    </div>
                    <div class="text">İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz<br>İşinizi yenilemek ve büyütmek için çalışıyoruz</div>
                    <div class="link-btn"><a href="about.html" class="btn-style-two">Daha Fazla Bilgi Edin <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image:url(/Content/Site/images/resource/about.jpg);"><div class="image"><img src="images/resource/about.jpg" alt=""></div><a href="https://www.youtube.com/watch?v=G0dzLanYW1E" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>

    </div>
</section>
