<!--Haberler-->
<section class="news-section padd-1 bg-1">
    <div class="container">
        <!--Başlık kısmı-->
        <div class="sec-title center">
            <h2>Son <span>Haberler</span></h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <!--Haber1-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/1.jpg" alt="" />
                            <div class="post-time">22 Nisan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">İşinizi büyütmek için çalışıyoruz</a></h3>
                            <div class="text">
                                İşinizi büyütmek için çalışıyoruz
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Daha Fazla Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!--Haber2-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/2.jpg" alt="" />
                            <div class="post-time">22 Nisan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">İşinizi büyütmek için çalışıyoruz</a></h3>
                            <div class="text">
                                İşinizi büyütmek için çalışıyoruz
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Daha Fazla Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!--Haber3-->
                <div class="news-style-one">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Content/Site/images/blog/3.jpg" alt="" />
                            <div class="post-time">22 Jan, 2018</div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="blog-details.html">İşinizi büyütmek için çalışıyoruz</a></h3>
                            <div class="text">
                                İşinizi büyütmek için çalışıyoruz
                            </div>
                            <div class="link-btn2 center">
                                <a href="blog-details.html" class="btn-style-two">Daha Fazla Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Haberler-->
