<!--1. alan Action-->
<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Ikon Sütunu-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>Bizi Arayın  +0123-456-7890</h3>
                    <div class="text">No:10 Mebusevleri, Ankara, TÜRKİYE</div>
                </div>
            </div>
            <!--Ikon Sütunu-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Açık Saatler</h3>
                    <div class="text">Pzt- Cts 08:00 - 12:00 / Pazar kapalı</div>
                </div>
            </div>

            <!--Link Sütunu-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="@Url.Action("Index","Contact")" class="btn-style-two">İletişime Geçin</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--2. alan-->
<section class="services-two bg-1 padd-3">
    <div class="container">
        <div class="row clearfix">

            <!--Hizmet Bloğu-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-graphic-3"></span></div>
                    <h3><a href="#">İş Büyümesi</a></h3>
                    <div class="text">Şirketinizi yenilemek ve büyütmek için çalışıyoruz</div>

                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla Oku</a>
                    </div>
                </div>
            </div>


            <!--Hizmet Bloğu-Active Blok-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">  <!--wow zoomIn, kutunun zoom yaparak gelmesini sağlar-->
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <h3><a href="#">24 Saat Çevrimiçi Destek</a></h3>
                    <div class="text">Şirketinizi yenilemek ve büyütmek için çalışıyoruz</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla Oku</a>
                    </div>
                </div>
            </div>

            <!--Hizmet Bloğu-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <h3><a href="#">İş Stratejisi</a></h3>
                    <div class="text">Şirketinizi yenilemek ve büyütmek için çalışıyoruz</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla Oku</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
