<div class="popular_news sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Populer Haberler</h3>
    </div>

    <div class="popular-post">
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/1.jpg" alt=""></a></div>
            <h4><a href="#">Credit Suisse CEO'su varlık yönetimine odaklanı...</a></h4>
            <div class="post-info">Mart 21, 2018 </div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/2.jpg" alt=""></a></div>
            <h4><a href="#">Yüksek küresel sotck pazarına kolay yol...</a></h4>
            <div class="post-info">Mart 21, 2018</div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/3.jpg" alt=""></a></div>
            <h4><a href="#">Ekibimiz ile çevrimiçi kredi kazanın....</a></h4>
            <div class="post-info">Mart 21, 2018</div>
        </div>
    </div>
</div>
